body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #343a40;}

*{
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: #212529;

}

.search{
    width: 500px;
    height: 100px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
    
}



.menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #212529;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: lightgrey;
    font-size: 30px;
}

.menu-bar ul li:hover{
    background: #242424;
    border-radius: 3px;
}

.sub-menu-1{
    display: none;
}


.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #242424;
    margin-top: 15px;
    margin-left: 15px;


}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 115px;
    padding: 10px;
    border-bottom: 1px;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: black;
    text-align: left;
}





/* __________________________________________________________________________________________________ */



.list{
    display: flex;
    justify-content: space-evenly;
    background-color: 343a40;
}




h1{
    background-color: #495057;
    color: black;
}



img{
    width: 150px;
    height: auto;
}


